﻿@using Wallet.UCSService.Core.Obj
@model Wallet.UCSService.Models.UcsDemoModel


@using(Html.BeginForm("index", "UcsDemo", FormMethod.Post))
{
    if (Model.Order != null && Model.Order.Items != null)
    {
        @Html.Hidden("Order_OrderState", Model.Order.OrderState)
        @Html.Hidden("Order_ErrorDescription", Model.Order.ErrorDescription)
        
        <p>QR id: @Model.Order.QrId</p><br/>
        <p>Orer state: @Model.Order.OrderState</p><br/>
    
        if (!string.IsNullOrEmpty(Model.Order.ErrorDescription))
        {
            <p>Error description: @Model.Order.ErrorDescription</p><br/>
        }
        
        for (int i = 0; i < 5; i++)
        {
            if (Model.Order.Items.Count <= i)
            {
                Model.Order.Items.Add(new UcsOrderItem());
            }

            @Html.Label("Name")
            @Html.TextBoxFor(model => model.Order.Items[i].Name)

            @Html.Label("Quantity")
            @Html.TextBoxFor(model => model.Order.Items[i].Quantity)

            @Html.Label("Price")
            @Html.TextBoxFor(model => model.Order.Items[i].Price)

            <br />
            <br />
        }
        
        <br />
        <br />
        <input type="submit" name="Action" value="refresh" />
    
        <br />
        <br />
        <input type="submit" name="Action" value="update"/>
    @*
        <br />
        <br />
        <input type="submit" name="Action" value="make_paid"/>
    
        <br />
        <br />
        <input type="submit" name="Action" value="make_err"/>
    *@
    }
}